<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 ng-show="$ctrl.item.id" class="modal-title"><strong ng-bind="$ctrl.item.name"></strong></h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="">Nhân viên phụ trách</label>
        <vl-users ng-model="$ctrl.item.assigned_user_id" title="Nhân viên phụ trách"/>
    </div>
    <div class="form-group">
        <label for="">Tên cơ hội</label>
        <input type="text" ng-model="$ctrl.item.name" class="form-control" disabled="disabled"/>
        <label for="">Xác suất</label>
        <input type="text" ng-model="$ctrl.item.probability" class="form-control" disabled="disabled"/>
        <label for="">Mô tả</label>
        <input type="text" ng-model="$ctrl.item.description" class="form-control" disabled="disabled"/>
    </div>
</div>