<h1>Thông Tin Công Ty</h1>
<div class="form-group">
    <label for="">Tên công ty</label>
    <input type="text" class="form-control" ng-model="$ctrl.form.company_name"/>
    <label for="">Người Đại Diện</label>
    <input type="text" class="form-control" ng-model="$ctrl.form.personal_name"/>
    <label for="">Chức Vụ</label>
    <input type="text" class="form-control" ng-model="$ctrl.form.position"/>
    <label for="">Địa Chỉ</label>
    <input type="text" class="form-control" ng-model="$ctrl.form.address"/>
    <label for="">Số ĐT</label>
    <input type="text" class="form-control" ng-model="$ctrl.form.phone"/>
    <label for="">Di Động</label>
    <input type="text" class="form-control" ng-model="$ctrl.form.phone_mobile"/>
</div>
<div class="form-group">
    <button class="btn btn-primary" ng-click="$ctrl.submit()">Cập Nhật</button>
</div>